.shop-cart {
    display: grid;
    grid-template-rows: [toggle-s] 40px [toggle-e content-s] 1fr [content-e];
    grid-template-columns: [s] 1fr [e];
    grid-row-gap: 15px;

    &__toggle {
        display: grid;
        grid-row: toggle-s/toggle-e;
        grid-column: s/e;
        justify-self: end;
        justify-items: center;
        align-items: center;
    }

    &__content {
        grid-row: content-s/content-e;
        grid-column: s/e;
    }
}

.shop-cart {
    &__content {
        height: 675px;
        width: 520px;
        background-color: #333;
        box-shadow: -3px 20px 20px 0 rgba(0,0,0,0.2);
    }
}

.cart-button {
    background-color: #333;
    color: white;
    font-size: 28px;
    border-radius: 25px 0 0 25px;
    height: 40px;
    width: 76px;

}

.cart-content {
    display: grid;
    grid-template-rows: 25px [title-s] 40px [title-e product-s] 1fr [product-e footer-s] 113px [footer-e];
    grid-template-columns: [footer-s] 30px [s] 1fr [e] 30px [footer-e];
    &__title {
        grid-row: title-s/title-e;
        grid-column: s/e;
        font-weight: 600;
        font-size: 30px;
        font-family: 'Titillium Web';
        color: #E6E6E6;
        // margin-bottom: 50px;
    }

    &__products {
        display: grid;
        grid-row: product-s/product-e;
        grid-column: s/e;
        overflow-y: scroll;
        padding-top: 50px;
        grid-row-gap: 45px;
    }

    &__footer {
        display: grid;
        grid-row: footer-s/footer-e;
        grid-column: footer-s/footer-e;
    }
}

.cart-footer {
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 50px [checkout-s] 1fr [checkout-e sub-s] 1fr [sub-e] 27px [price-s] 46px [price-e] 31px;
    align-items: center;
    background-color: #1A1A1A;
    height: 113px;

    & > * {
        grid-row: s/e;
    }

    &__checkout {
        display: grid;
        grid-column: checkout-s/checkout-e;
        justify-items: center;
        align-items: center;
        height: 38px;
        width: 183px;
        border-radius: 20px;
        background-color: #00CB79;
        color: white;
        font-size: 1.6rem;
        font-weight: 300;
        transition: all .3s ease;

        &:hover {
            transform: scale(0.97);
        }

        &:active {
            transform: scale(0.95);
        }

        &:focus {
            outline: none;
        }
    }

    &__subtotal {
        grid-column: sub-s/sub-e;
        justify-self: end;
        font-size: 18px;
    }

    &__price {
        grid-column: price-s/price-e;
        justify-self: start;
        font-size: 18px;
        color: white;
        font-weight: 600;
    }
}