html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans";
    color: #808080;
}

@import 'layout';
@import 'header-nav';
@import 'page-title';
@import 'form-fields';
@import 'details';

@import 'auth/sign-in';
@import 'auth/sign-up';

@import 'account/purchase-history';
@import 'account/account-information';
@import 'account/account';

@import 'shop/shop.scss';
@import 'shop/shop-searchbar.scss';
@import 'shop/shop-product.scss';
@import 'shop/shop-cart.scss';

@import 'quantity';
@import 'green-price-tag';